#donate_banner.template-original {
  border: 5px solid #23765D;
  background-color: #fff;
  color: #000;
}

#donate_banner.template-original #donate-close-button {
  top: 0;
  right: 0;
  background-image: url('../images/close-circle-dark.svg');
}

#donate_banner.template-original .donate-form {
  background-color: #fff;
}

#donate_banner.template-original .donate-body {
  padding: 2rem;
  height: 100%;
  align-items: center;
}

#donate_banner.template-original .cta-button {
  background-color: #23765D;
}

#donate_banner.template-original #banner-body-left-container {
  position: relative;
}

@media (min-width: 768px) {
  #donate_banner.template-original .donate-form {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  #donate_banner.template-original .donate-form .white-box {
    padding: 0 15px 6px 20px;
  }

  #donate_banner.template-original #banner-body-left-container.show-separator {
    border-right: 5px solid #23765D;
  }

  #donate_banner.template-original #banner-body-left-container.show-separator:after {
    color: #d7d7d7;
    content: '';
    position: absolute;
    margin-top: -10px;
    right: -15px;
    top: 50%;
    width: 0;
    height: 0;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #23765D;
    border-top: 10px solid transparent;
    clear: both;
  }
}

@media (max-width: 767px) {
  #donate_banner.template-original #banner-body-left-container.show-separator {
    border-bottom: 5px solid #23765D;
    margin-bottom: 2rem;
  }

  #donate_banner.template-original .donate-form {
    width: 100%;
    border: 0;
  }

  #donate_banner.template-original .donate-form .white-box {
    padding: 0 0 2rem 0;
  }

  #donate_banner.template-original #banner-body-left-container::after {
    content: '';
    position: absolute;
    margin-left: -10px;
    margin-top: 5px;
    left: 50%;
    right: initial;
    bottom: -15px;
    top: 100%;
    border-top: 10px solid currentColor;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: none;
    color: #23765D;
  }
}
